# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\ws-IJ\chess-system\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
